.interactive:hover {
    background-color: #f1f1f1;
    color: #333;
    transform: scale(1.1);
    border-color: #f1f1f1;
  }

  .interactive {
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform 0.3s ease;
    border: 2px solid #333;
    padding: 10px;
  }