body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 128, 69);
}
h1, nav a {
    font-family: "Roboto", sans-serif;
  }
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(218, 154, 6);
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(124, 5, 5);
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: rgb(255, 0, 0);
  }
img{
    width:30vw;
    height: 30vh;
}

#red-ball{
    background-color: rgb(242, 147, 110);
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
}