.background img {
  width: 800px; /* Adjust the desired width */
  height: 550px; /* Adjust the desired height */
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 10px; /* Adjust the desired distance from the top */
  left: 10px; /* Adjust the desired distance from the left */
}

.overlay2 {
  position: absolute;
  bottom: 10px; /* Adjust the desired distance from the bottom */
  right: 10px; /* Adjust the desired distance from the right */
}