html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  position: relative;
}

.background {
  position: relative;
  width: 1000px;
  height: 700px;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 10px;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  transform-origin: bottom right;
}

.overlay img {
  width: 200px;
  height: auto;
}

.overlay2 img {
  width: 100px;
  height: auto;
}
